$lightbackground: #ffffff;
$buttoncolor1: #e67e22;
$buttoncolor2: #d35400;
$buttondark: #082032;

$primarylight: #f1c40f;
$primarydark: #f39c12;
$lightgrey: #72777e;
$lightwhite: #ffffff;
$lightblack: #2c394b;
